[LOGIN]
RememberMe=0
Language=Chs
EncryptedUsername=
EncryptedPassword=
[Window]
Width=1024
Height=768
Windowed=0
[Audio]
SoundVolume=5
MusicVolume=5
[CONNECTION SETTINGS]
ServerIP=127.0.0.1
ServerPort=44406
AccountPortalUrl=http://127.0.0.1:5080
[UI]
Locale=zh-CN
Font=
[Render]
FrameRateMode=DisplayMaximum
FrameRateLimit=60
FrameRateLimitMilliHz=60000
BackgroundFrameRate=30
VSync=0
[Input]
GamepadEnabled=1
StickDeadZonePercent=18
TriggerDeadZonePercent=8
PointerSpeed=520
InvertPointerY=0
BindConfirm=South
BindCancel=East
BindPrimaryAttack=West
BindContextAction=North
BindUseSkill=RightTrigger
BindLockTarget=LeftTrigger
BindPreviousPage=LeftShoulder
BindNextPage=RightShoulder
BindQuickItem1=DpadLeft
BindQuickItem2=DpadUp
BindQuickItem3=DpadRight
BindQuickItem4=DpadDown
BindMap=Back
BindMenu=Start
BindAutoMove=LeftStick
BindNextTarget=RightStick
[Haptics]
Enabled=1
Intensity=70
Combat=1
UI=1
Transaction=1
